

@{
    ViewData["Title"] = "Testing";
}

<div class="container-space-bottom mt-5 p-2 text-center">
    <h2 class="pt-2">Welcome to testing</h2>
    <br />
    <div>
        <a class="btn btn-dark" asp-controller="Testing" asp-action="TestingUser">Get User info</a>
        <a class="btn btn-dark" asp-controller="Testing" asp-action="TestingQuestions">Get Questions info</a>
        <a class="btn btn-dark" asp-controller="Testing" asp-action="TestingAnswers">Get Answers info</a>
        <a class="btn btn-dark" asp-controller="Testing" asp-action="TestingGroups">Get Groups info</a>
        <a class="btn btn-dark" asp-controller="Testing" asp-action="TestingOrganizations">Get Organizations info</a>
        <a class="btn btn-dark" asp-controller="Testing" asp-action="TestingQuestionsJoin">Get QuestionsJoin info</a>
    </div>
</div>